<link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" />
<link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
<script src="@Url.Content("~/js/jquery/jquery.js")"></script>
<script src="@Url.Content("~/js/signalr/dist/browser/signalr.js")"></script>
<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")"></script>
<script src="@Url.Content("~/lib/jquery-validation/dist/additional-methods.js")"></script>
<script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
<partial name="_DoneModal"/>
<div class="container-fluid">
    <div class="row">
        <div class="col p-3">
            <partial name="_ConfigForm" />
        </div>
        <div class="col p-3 container-fluid">
            <div class="row">
                @await Html.PartialAsync("_Table", new ViewDataDictionary(ViewData){{"id" , "best"}, {"name" ,"Best function"}, {"scrollable", false}})
            </div>
            <div class="row">
                @await Html.PartialAsync("_Table", new ViewDataDictionary(ViewData){{"id" , "all"}, {"name" ,"All functions"}, {"scrollable", true}})
            </div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
</div>


<script src="@Url.Content("~/js/site.js")" type="module"></script>

 
